:root {
  --color-pieza1: magenta;
  --color-pieza2: yellow;
  --color-pieza3: blue;
  --color-pieza4: green;
}

/* esta clase genera un rectangulo de 500 x 800 pixeles */
.container {
  height: 500px;
  width: 580px;
  /* ademas le da un borde s칩lido de 3px de color salm칩n */
  /* salm칩n, como el color de la camisa de ross 游 */
  border: 3px solid salmon;
}

/* este selector hace que todas las etiquetas div tengan el mismo tama침o */
div {
  height: 80px;
  width: 80px;
  background-color: rgb(236, 236, 236);
  border: 1px solid black;
  /* mas adelante hablaremos de la propiedad float */
  float: left;
}

/* crea clases para especificar colores, los cuales usaras
  para crear tus piezas de tetris, por ejemplo, esta: */

.pieza1 {
  background-color: var(--color-pieza1);
}

.pieza2 {
  background-color: var(--color-pieza2);
}

.pieza3 {
  background-color: var(--color-pieza3);
}

.pieza4 {
  background-color: var(--color-pieza4);
}
