* {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
  margin-bottom: 1px;
  font-weight: 300;
}

h2 {
  font-size: 20px;
  font-weight: 100;
}

.contenedor-principal {
  position: relative;
  margin: auto;
  width: 1220px;
}

.columna__1 {
  position: absolute;
  left: 0;
  width: 260px;
  height: 470px;
  background: rgb(44, 156, 141);
  border: 1px solid grey;
}

.titulo-menu {
  font-weight: 500;
  font-size: 20px;
}
.lista {
  margin-top: 15px;
  margin-left: 20px;
}

.main {
  position: absolute;
  left: 260px;
  width: 700px;
  height: 470px;
  background: #cccc;
  border: 1px solid grey;
}

.columna__2 {
  position: absolute;
  right: 0;
  width: 260px;
  height: 470px;
  background: turquoise;
  border: 1px solid grey;
}
